<div class="row" style="padding-top:5%; min-width:1000px; width: auto !important;width:1000px; ">

<div class="card-deck">
	<div class="card mb-3 " style="max-width: 18rem;">
		<%= image_tag("#{@product.image_url}", alt:"No Image",  class:"card-img-top") %>
		<div class="card-body">
		  <h5 class="card-title"><%= @product.name %></h5>
		  <p class="font-weight-bold">Rs. <%= number_with_precision(@product.price, precision:2) %></p>
		  <p class="card-text"><%= @product.description %></p>
		</div>
		<div class="card-footer">
		  	<small class="text-muted">
		  		<%= distance_of_time_in_words_to_now(@product.created_date) %> ago
		  	</small>
		  	<%= form_with(url: "/order/confirm", method: "post", local: true) do |f| %>
		    		<%= hidden_field_tag(:product_id, "#{@product.id}") %>
		    		<%= f.submit "Order", class: "btn btn-primary btn-md" %>
		    	<% end %>
		    </div>
		</div>
	</div>
</div>
</div>