<div class="container" style="background-color: #7952B3; color: #fff; max-width:100%; border:10%; padding:20%">
	<div class="row">
		<h1>Login</h1>
	</div>
	<div class="row">
		<%= form_tag '/login' do %>
		    <div class="form-group">
		      <%= label_tag :username %>
		   	  <%= text_field_tag :username, "", class: 'form-control', placeholder: 'User Name' %>
		    </div>
		    <div class="form-group">
		       <%= label_tag :password %>
		   	   <%= password_field_tag :password, "", class: 'form-control', placeholder: 'Password' %>
		    </div>
		    <div class="form-group">
		      <div class="form-check">
		        <%= check_box_tag  'dropdownCheck', '','', class: 'form-check-input' %>
		          Remember me
		        </label>
		      </div>
		    </div>
		     <%= submit_tag "Login", class: "btn btn-primary" %>
		<%end%>
	</div>
</div>