 <div id="paypal-button-container" style="width:50%"></div>

<script src="https://www.paypal.com/sdk/js?client-id=<%= Rails.configuration.application['PAYPAL_CLIENT_ID'] %>&currency=USD"></script>
	  	 
<script>
  
  paypal.Buttons({
      env: "<%= Rails.configuration.application['PAYPAL_ENV'] %>",
      createOrder: function(data, actions) {
        console.log('test');
    	 return actions.order.create({
          purchase_units: [{
            reference_id : "<%= @orderId %>",
           

            custom_id: "<%= @orderId %>_<%= @product.id %>",
            amount: {
                currency_code: "USD",
                value: "<%= @order.ordered_price %>",
                breakdown: {
                    item_total: {
                        currency_code: "USD",
                        value: "<%= @product.price %>"
                    }
                }
            },
            items: [{
                      name: "<%= @product.name.html_safe %>",
                 
                      sku: "xyz-2654",
                      unit_amount: {
                          currency_code: "USD",
                          value: "<%= @product.price %>"
                      },
                      quantity: "<%= @order.ordered_quantity %>"
                    }],

              }]
          });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
            alert('Transaction completed by ' + details.payer.name.given_name);
            console.log(details)
            console.log(data)
            console.log(data.orderID)
            console.log(details.purchase_units[0].reference_id)
            // Call your server to save the transaction
            return fetch('/product/paypal-transaction-complete', {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    orderID: data.orderID
                })
            });
        });
      }, style: {responsive: true }
  }).render('#paypal-button-container');

</script>