<% products.each do|product| %>
  <div class="row align-items-center" id="order_#{@product.product_id}">
    <div class="col-6 col-md-2">
    	<%= image_tag("#{product.image_url}", alt:"No Image",  class:"card-img-top") %>
    </div>
    <div class="col-12 col-md-4">
    	<h6 class="my-0"><%= product.name %></h6>
    	<small class="text-muted"><%= product.description %></small>
    </div>
    <div class="col-6 col-md-2">
    	Quantity : <b><%= number_field(:product, :price, in: 1.0..5.0, step: 1,  value: product.ordered_quantity, onchange: "calculatePriceOnQuantity(this.value, \"#{product.product_id}\", \"quantity_#{product.product_id}\", \"cumulative_total\")") %></b>
    </div>
      <div class="col-6 col-md-1">
      <%= link_to "Remove", "#", :onclick => "removeOrder(\"#{product.order_id}\", \"order_#{product.product_id}\")"; %>
    </div>
    <div class="col-6 col-md-2 pull-right">
      <span class="text-muted" id="quantity_<%= product.product_id %>">
      	Rs. <%= number_with_precision(product.ordered_price, precision:2) %>
      </span>
    </div>  
  </div>
<% end %>